@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgb(41, 151, 254, 0.6),
      rgb(83, 71, 250, 0.6)
    ),
    url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
}

.container {
  /* background: #fff; */
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  width: 80rem;
  padding: 5rem 2rem;

  /* display: inline-block; */
}

h3 {
  font-size: 1.7rem;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 4rem;
  margin: 5rem auto;
  max-width: 60rem;
  color: #fff;
}

.joke--animation {
  /* animation: an 1s ease-out 1 both; */
  animation: an 1s ease-out 1, glow 2500ms linear infinite;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  background-color: #5b8efc;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: min(5vw, 1.4rem) min(5vw, 4rem);
  text-align: justify;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 300ms;
  color: rgb(24, 24, 24);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
}

.btn i {
  margin-left: 1rem;
  color: #3d2dca;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
